* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    padding-top: 60px;
    margin: 0;
    padding: 0;
    height: 100vh;
}
#particles-js
{
    background: whitesmoke;
    height: 100%;
}

/* Navigation style */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10% 20px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    top: 0;
    z-index: 1000;
    transition: top 0.3s;
}
.header img {
    width: 30px;
}
.logoname {
    position:fixed;
    font-size: 16px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    padding-left: 35px;
}
.navbar a {
    display: inline-block;
    font-size: 16px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover {
    color: #E16436;
}

/* Home Section */
.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    font-weight: bolder;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
.home-content h4 {
    font-size: 30px;
    font-weight: 700;
    color: black;
}
.home-content h1 {
    font-size: 60px;
    font-weight: 900;
    color: black;
    margin-top: -15px;
}
.home-content h3 {
    font-size: 40px;
    font-weight: 700;
    color:#E16436;
    margin-top: -25px;
    margin-bottom: 20px;
}
.home-button-resume {
    display: inline-block;
    text-decoration: none;
    font-weight: 300;
    text-decoration: none;
    padding: 8px 30px;
    background-color:#E16436;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    border: #E16436 solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.home-button-resume:hover {
    background-color:#A64724;
    color: white;
    border:#A64724 solid;
}
.home-button-email {
    display: inline-block;
    font-size: 15px;
    color: #E16436;
    text-decoration: none;
    font-weight: 300;
    text-decoration: none;
    padding: 8px 40px;
    border-radius: 10px;
    border: #E16436 solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.home-button-email:hover {
    color: white;
    background-color: #E16436;
    border: #E16436;
    border-radius: 10px;
    padding: 8px 40px;
    border: #E16436 solid;
}
.home-button {
    padding-right: 10px;
    display: inline-block;
}
.home-image img {
    max-width: 100%;
    height: 100vh;
    display: flex;
    transition: transform 0.3s ease-out;
}

/* About Section Style */
.about {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 50vh;
    font-weight: bolder;
    display: flex;
    align-items: center;
    padding: 70px;
    background-color: #EDB956;
    color: black;
}
.about-content h3 {
    margin-bottom: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
.about-content p {
    text-align: justify;
    font-weight: 200;
    margin: 0 10% 0 10%;
    text-indent: 2em;
    font-size: 20px;
    transition: transform 0.3s ease;
}
#paragraph2 {
    text-indent: 2em;
    padding-top: 1em;
    text-align: justify;
    max-width: 80%;
}

/* Skills Section Style */
.skills {
    position: relative;
    width: 100%;
    height: fit-content;
    font-weight: bolder;
    padding: 70px 10% 0;
    background-color: #D6E4E5;
    color: black;
}
.skills-content h3 {
    margin-bottom: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
.skills-classification ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.skills-classification li {
    text-decoration: none;
    color: black;
    padding: 20px;
    font-weight: 400;
    transition: .3s;
    display: inline;
    margin-right: 10px;
    cursor: pointer;
}
.skills-classification li:hover {
    color: #E16436;
}
.skills-content {
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
.skills-content-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 40px;
}
.skill-box {
    text-align: center;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 20px);
    height: 120px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}
.skill-box p {
    font-size: 15px;
    font-weight: 650;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    padding: 22px;
}
.skill-box:hover  {
    transform: scale(1.1);
    transition: .3s;
}
.skills-content-image {
    justify-content: center;
    position: relative;
    text-align: center;
    align-items: center;
    display: flex;
    max-width: 400px;
    margin: auto;
}
.skills-content img {
    width: 50px;
    height: auto;
}

/* Projects Section Style */
.projects {
    position: relative;
    width: 100%;
    height: max-content;
    font-weight: bolder;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 30px;
    background-color: white;
    color: black;
}
.projects-content {
    justify-content: center;
    text-align: center;
    margin: auto;
}
.projects-content h3 {
    margin-bottom: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
.project-content-image img {
    max-width: 100%;
    height: auto;
}
.project-box {
    text-align: center;
    margin: 1em;
    padding: 1em;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: fit-content;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.title {
    font-size: 20px;
    font-weight: 700;
    padding: 20px;
}
.language {
    display: flex;
    justify-content: space-between;
}
.language p{
    font-size: 15px;
    background-color:#D6E4E5;
    padding: 3px 10px;
    border-radius: 5px;
}
.language2 {
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
}
.language2 p{
    font-size: 15px;
    background-color:#D6E4E5;
    padding: 3px 10px;
    border-radius: 5px;
    text-align: center;
}
.project-button {
    padding-top: 30px;
}
.view {
    background-color: #E16436;
    padding: 0.5em 13em;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
}
.view:hover {
    background-color: #A64724;
}

/* Connect Section Style */
.Connect {
    position: relative;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    font-weight: bolder;
    display: flex;
    padding: 70px 10% 0;
    background-color: #D6E4E5;
}
.connect-image {
    max-width: 70px;
    height: 80vh;
    text-align: left;
    display: flex;
}
.connect-content {
    text-align: right;
    max-width: 600px;
    padding: 20px;
    justify-content: right;
}
.connect-content h3 {
    margin-bottom: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
connect-form form {
    max-width: 400px;
    margin: 0 auto;
}
label {
    display: block;
    margin-bottom: 0.5em;
}
input, textarea, button {
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
    box-sizing: border-box;
    border-radius: 10px;
}
input, textarea {
    border: 1px solid #D6E4E5;
}
.connect-form button {
    background-color:#E16436;
    color: #fff;
    padding: 0.7em 1em;
    font-size: 15px;
    border: none;
    cursor: pointer;
}
.connect-form button:hover {
    background-color: #A64724;
}
input:invalid,
textarea:invalid {
    border: 1px solid #D6E4E5;
    border-radius: 8px;
}

/* Contact section */
@media (max-width: 28.75em) {
    .contact-section-header > h2 {
        font-size: 4rem;
    }
}
.line {
    border-top: 3px solid #000; /* Change the color as needed */
    width: 100%; /* Adjust the width as needed */
    margin: 20px 0; /* Adjust the margin as needed */
}
.contact-section-header > p {
    font-style: italic;
    margin-top: 2rem;
    justify-content: center;
    text-align: center;
}
.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 0.5rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}
.contact-details {
    font-size: 2.4rem;
    transition: transform 0.3s ease-out;
}
.contact-details:hover {
    transform: translateY(8px);
}
.contact-links a {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem; /* 18px */
    font-weight: 400;
    line-height: 1.4;
    padding: 20px;
    color: black;
    text-decoration: none;
}

/* Footer Style */
.foot {
    width: 100%;
    justify-content: space-between;
    height: 23vh;
    font-weight: bolder;
    padding: 70px 0 0;
    background-color: #EDB956;
    color: black;
    text-align: center;
    padding: 1em;
}
.foot-content {
    position: relative;
    text-align: center;
    align-items: center;
    margin-top: 15px; 
    margin-bottom: 20px;
}
.foot-content h4 {
    font-size: 20px;
}
.foot-content a {
    color: black;
    text-decoration: none;
    justify-content: center;
}
.socials {
    padding-top: 10px;
}
.socials a {
    font-size: 30px;
    padding: 5px;
}
.socials a:hover {
    color: #3d3b3b;
    font-size: 28px;
}
.foot-content p {
    color: black;
    font-size: 12px;
    font-weight: 200;
}
.credit {
    padding-top: 10px;
}

/* Hamburger menu */
.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: black;
}

/* Responsive Style Navbar */
@media screen and (max-width: 750px) {
    .menu {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color:#D6E4E5;
        text-align: center;
        transition: opacity 0.3s, transform 0.3s;
        flex-direction: column;
    }
    .menu-icon {
        display: block;
    }
    .menu.active {
        display: block;
    }
    nav a {
        display: block;
        margin: 0;
        padding: 15px 0;
    }
    .close-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px;
        cursor: pointer;
        color: black;
    }
}
/* Responsive Style Navbar */
@media screen and (max-width: 450px) {
    .close-icon {
       display: none;
}
/* Responsive Stle of Connect */
@media screen and (max-width: 1400px) { 
    .connect {
        display: block;
        height: max-content;
        padding-bottom: 30px;
    }
    .connect-content {
        justify-content: center;
        text-align: center;
        margin: auto;
    }
    .connect-image {
        justify-content: center;
        text-align: center;
        margin: auto;
        max-width: 30%;
        max-height: 30vh;
    }
}

/*Responsive style of Projects */
@media screen and (max-width: 650px ) {
    .projects-content {
        justify-content: center;
        text-align: center;
        margin: auto;
    }
    .project-box {
        text-align: center;
        margin: 1em;
        padding: 1em;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 400px;
        height: fit-content;
        border-radius: 10px;
    }
    .title {
        font-size: 15px;
        font-weight: 700;
        padding: 20px;
    }
    .language {
        display: flex;
        justify-content: space-between;
    }
    .language p{
        font-size: 10px;
        background-color:#D6E4E5;
        padding: 3px 10px;
        border-radius: 5px;
    }
    .project-button {
        padding-top: 30px;
        padding-bottom: 5px;
    }
    .view {
        background-color: #E16436;
        padding: 0.5em 13em;
        font-size: 12px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        color: #fff;
        font-weight: 400;
    }
    .view:hover {
        background-color: #A64724;
    }
}

@media screen and (max-width:450px) {
    .project-box {
        text-align: center;
        margin: 1em;
        padding: 1em;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 300px;
        height: fit-content;
        border-radius: 10px;
        transition: transform 0.3s ease;
    }
    .title {
        font-size: 15px;
        font-weight: 700;
        padding: 20px;
    }
    .language {
        display: flex;
        justify-content: space-between;
    }
    .language p{
        font-size: 10px;
        background-color:#D6E4E5;
        padding: 3px 5px;
        border-radius: 5px;
        overflow: hidden;
    }
    .language2 {
        display: flex;
        justify-content: space-between;
        padding-left: 80px;
        padding-right: 80px;
    }
    .language2 p{
        font-size: 10px;
        background-color:#D6E4E5;
        padding: 3px 5px;
        border-radius: 5px;
        text-align: center;
    }
    .project-button {
        padding-top: 30px;
    }
    .view {
        background-color: #E16436;
        padding: 0.5em 10em;
        font-size: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        color: #fff;
        font-weight: 400;
    }
    .nav a {
        font-size: 10px;
        font-weight: 200;
}

/* Responsive style of About */
@media screen and (max-width: 900px) {
    .about-content p {
        text-align: justify;
        font-weight: 200;
        margin: 0 10% 0 10%;
        text-indent: 2em;
        font-size: 16px;
    }
    .about {
        height: fit-content;
    }
    .about h3 {
        font-size: 20px;
    }
} 

/* Responsive style of About */
@media screen and (max-width: 450px) {
    .about-content p {
        text-align: justify;
        font-weight: 200;
        margin: 0 10% 0 10%;
        text-indent: 2em;
        font-size: 12px;
    }
    .about {
        height: fit-content;
    }
} 

/* Responsive style of Home */
@media screen and (max-width: 700px){
    .home-content h1 {
        font-size: 40px;
        font-weight: 900;
        color: black;
        margin-top: -10px;
    }
    .home-content h4 {
        font-size: 20px;
        font-weight: 700;
        color: black;
    }
    .home-content h3 {
        font-size: 25px;
        font-weight: 700;
        color:#E16436;
        margin-top: -15px;
        margin-bottom: 20px;
    }
}

/*Responsive style of home image */
@media screen and (max-width: 1600px){
    .home-image {
        display: none;
    }
    .home {
        height: 80vh;
    }
    .home-content {
        justify-content: center;
        align-items: center;
    }
}

/*Responsive style of home image */
@media screen and (max-width: 450px){
    .home-content h1 {
        font-size: 25px;
        font-weight: 900;
        color: black;
        margin-top: -10px;
    }
    .home-content h4 {
        font-size: 15px;
        font-weight: 700;
        color: black;
    }
    .home-content h3 {
        font-size: 20px;
        font-weight: 700;
        color:#E16436;
        margin-top: -10px;
        margin-bottom: 10px;
    }
    .home-button-resume {
        display: inline-block;
        text-decoration: none;
        font-weight: 300;
        text-decoration: none;
        padding: 4px 10px;
        background-color:#E16436;
        color: white;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        border: #E16436 solid;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        font-size: 10px;
    }
    .home-button-resume:hover {
        background-color:#A64724;
        color: white;
        border:#A64724 solid;
    }
    .home-button-email {
        display: inline-block;
        font-size: 15px;
        color: #E16436;
        text-decoration: none;
        font-weight: 300;
        text-decoration: none;
        padding: 4px 20px;
        border-radius: 10px;
        border: #E16436 solid;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        font-size: 10px;
    }
    .home-button-email:hover {
        color: white;
        background-color: #E16436;
        border: #E16436;
        border-radius: 10px;
        padding: 8px 40px;
        border: #E16436 solid;
    }
}

/* Responsive style of Skills */
@media screen and (max-width: 450px) {
    .skills-content p {
        text-align: justify;
        font-weight: 200;
        font-size: 12px;
    }
    .skills {
        height: fit-content;
    }
    .skills h3 {
        font-size: 20px;
    }
    .skills-classification li {
        text-decoration: none;
        color: black;
        padding: 10px;
        font-weight: 100;
        transition: .3s;
        display: inline;
        cursor: pointer;
        font-size: 12px;
    }
} 

@media screen and (max-width: 750px) {
    .foot {
        height: fit-content;
    }
}
